.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    
}

.portfolio li {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 1rem 0;
    border-bottom: 1px solid #00000057;
    padding-bottom: 1rem;
}

.portfolio li .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 700;
    margin: 0;
    margin-bottom: .5rem;
}

.portfolio-img {
    border-radius: 2rem;
    max-width: 30rem;
    border: 1rem solid #0000002a;
}

.portfolio a {
    border-left: .5rem solid #46478b;
    display: flex;
    max-width: 10rem;
    text-align: center;
    padding: 1rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    text-align: center;
}

